main {
  width: 500px;
  height: 500px;
  background-color: #F5F5F5;
  border-radius: 10px;
  text-align: center;
  padding: 30px;
}

main>p {
  margin: auto;
  width: 300px;
}

.dice {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.dice>button {
  background-color: white;
  border: 0;
  width: 50px;
  height: 50px;
  font-size: 2em;
  box-shadow: 0px 2px 2px gray;
  border-radius: 5px;
}
main >button{
  margin-top:100px;
  width: 110px;
  height: 50px;
  background-color:#5035FF;
  color: white;
  font-size: 1.3em;
  border: 0;
  border-radius:2px ;
    box-shadow: 0px 2px 2px gray;

}