.flip-card{
background: transparent;
 width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px

}
.fc-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}
.flip-card:hover .fc-inner{
  transform: rotateY(180deg);
}
.fc-front, .fc-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.fc-front {
  background-color: #bbb;
  color: black;
}

.fc-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
