.flip-card{
background: transparent;
 width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  border: 0;

}
.fc-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}
.flip-card:hover .fc-inner{
  transform: rotateY(180deg);
}
.fc-front, .fc-back {
    border-radius: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 1px 1px 10px gray;
}

.fc-front {
  padding-top: 10px;
  background-color: white;
  color: black;

}


.fc-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.fc-front >img{
  width:70%;
  height: 60%;
  margin: auto;


}
.names {
  display: flex;
  flex-direction: column;
  gap: 1px;
  justify-content: flex-start;
  align-items: start;
  padding-left: 50px;

}
.cards{
  width: 800px;
  margin: auto;
  display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    justify-content: space-around;
    

}
body{
  background-color: #E1F6DC;
}