
nav{
  display: flex;
justify-content: space-between;
align-items: center;
height: 100px;
padding:0 50px ;
}
nav >.navbar-part1{
display: flex;
justify-content: center;
align-items: center;gap:20px;}
.use-profile{
  background-color:#E7F2FD;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
