.forms{
  background-color:white ;
  color: black;
  width: 500px;
  height: 40px;
  margin: auto;
  display: flex;
  justify-content:space-between;
  box-shadow: 2px 2px 10px gray;
  border-radius: 50px;
  padding: 4px 15px;
}
.forms >input{
  outline:none ;
  border: 0;
  width: 450px;
}
.forms >button{
  background-color:white;
  border: 0;
}
body{
  padding-top:100px;
}