.forms{
  background-color:white ;
  color: black;
  width: 500px;
  height: 40px;
  margin: auto;
  display: flex;
  justify-content:space-between;
  box-shadow: 2px 2px 10px gray;
  border-radius: 50px;
  padding: 4px 15px;
}
.forms >input{
  outline:none ;
  border: 0;
  width: 450px;
}
.forms >button{
  background-color:white;
  border: 0;
}

.displayfm{
  display: flex;
  width: 500px;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  font-size: 2em;
  border-bottom:1px solid rgb(158, 154, 154);
}
.displayfm > input{
  align-self: center;}
  .displayfm > button{
  align-self: center;

}
.displayfm > button{
  border-radius: 100%;
  background-color: rgb(235, 229, 229);
  padding: 20px;
  border:0;
  outline: none;
}
.displayfm > label{
  color: gray; 
  width: 500px; text-align: start;
  padding-left: 10px;
}
main{
    padding-top:100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

