.forms{
  width: 500px;
  height: 500px;
  background-color: gray;
  color: white;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: auto;

}
#totalscore{
  text-align: center;
  font-size: 2em;
padding-top: 100px;}

