.forms{
  width: 500px;
  height: 500px;
  background-color: gray;
  color: white;
  box-sizing: border-box;
  display: flex;
flex-direction: column;
padding: 20px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;


}
#totalscore{
  text-align: center;
  font-size: 2em;
padding-top: 100px;}
 button{
  margin: auto;
  width: 200px;
  height: 40px;
  background-color: white;
  border-radius: 5px; 
  font-size: 1em;
 }
 .options{
  display: flex;
  flex-direction: column;
padding: 5px;
gap: 5px;
}
